    <!-- Main Footer -->
    <footer class="main-footer" *ngIf="status == 'home'">
        <strong
          >Copyright &copy; 2020
          <a href="#">Team Cilantro SV </a></strong
        >
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.0</div>
   </footer>

   <footer class="main-footer" style="margin-left: 0px !important;" *ngIf="status == 'login'">
    <strong
      >Copyright &copy; 2020
      <a href="#">Team Cilantro SV </a></strong
    >
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.0</div>
</footer>