<app-navbar [usuario]="usuario.uid" *ngIf="usuario"></app-navbar>
<app-aside [uid]="usuario.uid" *ngIf="usuario"></app-aside>

<div class="content-wrapper" style="padding-top: 20px !important;">

  <section class="content" *ngIf="project">

    <button *ngIf="my" type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#modal-invite"
      style="float: right; max-width: 100px; margin-right: 10px;">Invitar</button>

    <button *ngIf="!my && !unido" type="button" class="btn btn-outline-primary "
      style="float: right; max-width: 100px; margin-right: 10px;" (click)="unirme()">Unirme</button>

    <button class="btn btn-outline-primary " *ngIf="my || unido"
      style="float: right; max-width: 100px; margin-right: 10px;"
      [swal]="{ title: 'Enter your email', input: 'email' }">
      Evaluar
    </button>


    <app-main-header [usuario]="usuario" [view]="'view'"></app-main-header>


    <h2 style="text-align: center; margin-bottom: 25px;"><strong>{{project.nombre}}</strong></h2>



    <!-- /.col -->
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title" style="font-size: 16px;">Evaluaciones Realizadas</h3>


        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table">
            <tr>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Status</th>
              <th>% de Evaluacion</th>
              <th>% Graficado</th>
              <th>Comentario</th>
              <th>Detalles</th>

            </tr>
            <tr>
              <td>Josue Aparicio</td>
              <td>Hace 2 dias</td>
              <td><span class="badge bg-green">Aprovado</span></td>
              <td><span class="badge bg-green">75%</span></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 75%"></div>
                </div>
              </td>

              <td>Muy buen trabajo y muy buena precision de las HU</td>
              <td class="mailbox-attachment"><a><i class="fa fa-link"></i> </a> </td>

            </tr>

            <tr>
              <td>Douglas Hrnandez</td>
              <td>Hace 10 dias</td>
              <td><span class="badge bg-red">Reprovado</span></td>
              <td><span class="badge bg-red">45%</span></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                </div>
              </td>

              <td>Buena distribucion pero las Hu estan muy incompletas</td>
              <td class="mailbox-attachment"><a><i class="fa fa-link"></i> </a> </td>

            </tr>

            <tr>
              <td>Victor Lainez</td>
              <td>Hace 1 dias</td>
              <td><span class="badge bg-green">Aprovado</span></td>
              <td><span class="badge bg-green">90%</span></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
                </div>
              </td>

              <td>Excelente trabajo, solo encontre pequenos bugs</td>
              <td class="mailbox-attachment"><a><i class="fa fa-link"></i> </a> </td>

            </tr>

            <tr>
              <td>Luis Hernandez</td>
              <td>Hace 6 dias</td>
              <td><span class="badge bg-red">Reprovado</span></td>
              <td><span class="badge bg-red">25%</span></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 25%"></div>
                </div>
              </td>

              <td>Esto no sirve chitos, usen JQUERY</td>
              <td class="mailbox-attachment"><a><i class="fa fa-link"></i> </a> </td>

            </tr>

          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- /.box -->
    </div>



    <mat-tab-group animationDuration="1500ms" style="margin-top: 80px; margin-bottom: 100px;">

      <mat-tab label="Adecuación Funcional">
        <div class=" " style="margin: 0px auto;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Completitud Funcional">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Adecuacion Funcional', 'Completitud Funcional')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Corrección Funcional">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Adecuacion Funcional', 'Correcion Funcional')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Pertinencia Funcional">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Adecuacion Funcional', 'Pertinencia Funcional')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Eficiencia de Desempeño">
        <div style="display: grid; place-items: center;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Comportamiento Temporal">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Eficiencia de Desempeño', 'Comportamiento Temporal')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Utilización de Recursos">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Eficiencia de Desempeño', 'Utilización de Recursos')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Capacidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Eficiencia de Desempeño', 'Capacidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>    
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Compatibilidad">
        <div style="display: grid; place-items: center;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Coexistencia">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Compatibilidad', 'Coexistencia')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Interoperabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Compatibilidad', 'Interoperabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Usabilidad">
        <div style="display: grid; place-items: center;">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Inteligibiliad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Inteligibiliad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Aprendizaje">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Aprendizaje')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Operabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Operabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Protección frente a errores de usuario">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Protección frente a errores de usuario')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Estética">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Estética')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Accesibilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Usabilidad', 'Accesibilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-tab>

      <mat-tab label="Fiabilidad">
        <div style="display: grid; place-items: center;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Madurez">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Fiabilidad', 'Madurez')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Disponibilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Fiabilidad', 'Disponibilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Tolerancia a fallos">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Fiabilidad', 'Tolerancia a fallos')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Capacidad de recuperación">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Fiabilidad', 'Capacidad de recuperación')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Seguridad">
        <div style="display: grid; place-items: center;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Confidencialidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Seguridad', 'Confidencialidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Integridad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Seguridad', 'Integridad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="No repudio">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Seguridad', 'No repudio')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Autenticidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Seguridad', 'Autenticidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Responsabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Seguridad', 'Responsabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Mantenibilidad">
        <div class=" " style="margin: 0px auto;">

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Modularidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Mantenibilidad', 'Modularidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Reusabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Mantenibilidad', 'Reusabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Analizabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Mantenibilidad', 'Analizabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Capacidad de ser modificado">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Mantenibilidad', 'Capacidad de ser modificado')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Capacidad de ser probado">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Mantenibilidad', 'Capacidad de ser probado')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-tab>

      <mat-tab label="Portabilidad">
        <div style="display: grid; place-items: center;">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Adaptabilidad">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Portabilidad', 'Adaptabilidad')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Facilidad de instalación">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Portabilidad', 'Facilidad de instalación')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
            <mat-tab label="Capacidad de ser reemplazado">
              <div style="padding: 30px; display: grid; place-items: center;">
                <button style="margin: 5px;" mat-raised-button color="accent" (click)="addHU('Portabilidad', 'Capacidad de ser reemplazado')">Agregar HU</button>
                <button style="margin: 5px;" mat-raised-button color="accent">Agregar Pregunta</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-tab>
    </mat-tab-group>





  </section>

</div>
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<app-footer [status]="'home'"></app-footer>


<div class="modal fade" id="modal-invite">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="float: right;" class="modal-title">Invita a personas a evaluar tu proyecto...</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="inviteForm">
          <div class="form-group">
            <label for="formGroupExampleInput">Ingresa el email del invitado</label>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>

        </form>

        <p style="padding: 30px 5px 5px 5px; color: red; text-align: center; width: 100%;"> Por favor, asegurate de
          llenar todos los campos solicitados*</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submit()"
          [disabled]="inviteForm.invalid">Enviar Invitacion</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
