<!-- CONTENIDO AQUI-->
<div class="container-fluid" *ngIf="usuario">
  <!-- Info boxes -->
  <app-main-header [usuario]="usuario"></app-main-header>


  <div class="row" style="margin-top: 50px;" >

 
      <div class="col-sm-6" *ngFor="let project of projects">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title"
              style="padding: 3px !important; font-weight: bold !important; font-size: 20px !important;">
              {{project.nombre}}</h5>
            <p class="card-text">{{project.descripcion}}</p>
            <a [routerLink]="['/view-project', usuario.uid, project.id]" [routerLinkActive]="['active']" class="btn btn-primary">Ver Proyecto</a>
          </div>
        </div>
      </div>
  
      


  </div>

</div>

<!--/. container-fluid -->
