<div class="caracteristica">
    <div class="main" >
      <label class="daily_task">{{data.caracteristica}}</label>
      <label class="daily_task2">{{data.subcaracteristica}}</label>
      <ul class="list" >
        <!--- li or task -->
        <li *ngFor ="let hu of hus">
          <input type="checkbox" id="todo_1">
          <label for="todo_1" >
            <span class="check"></span>
            {{hu.nombre}}
          </label>
          <label class="delete" (click)="deleteHU(hu.id)"></label>
        </li>
 

      </ul>
         
         <!--- input portion for adding task -->
      <div class="addtask">
        <form class="addform" [formGroup]="huForm">
          <input type="text" name="addtask" placeholder="Agregar HU" formControlName="nombre">
          <div class="button">
            <a (click)="addHU()" class="add"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
