<div class="containerr">
    <form>
      <div class="fila">
        <h2 style="text-align:center">Welcome to 25K10 ISO PRO SCANNER</h2>


        <div class="column">

          <a (click)="login('google')" class="google btn"><i class="fa fa-google fa-fw">
            </i> Login with Google
          </a>
          <a (click)="login('github')" class="gh btn">
            <i class="fa fa-github fa-fw"></i> Login with Github
          </a>
          <a (click)="login('twitter')" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>

        </div>

      </div>

    </form>
  </div>
