

  <div >
    <h1 style="padding: 5px;">{{data.nombre}}</h1>
    <p style="padding: 5px;">{{data.descripcion}}</p>
    
    
<div *ngFor="let row of data.caracteristicas">
  <p>{{row.nombre}}: {{row.total}}%</p>
</div>
    
    
    
      <div style="margin-top: 20px;">
        <button style="margin: 5px; float: right;" mat-flat-button color="primary" (click)="onSubmit()" >Confirmar</button>
        <button style="margin: 5px; float: right;" mat-flat-button color="warn" (click)="onClose()">Cancelar</button>
      </div>
  </div>

