/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}



.containerr {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
  padding: 125px 0 30px 0;

}

.containerr form {
  border-radius: 20px;
}

.containerr input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 7px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.containerr input:hover,
.btn:hover {
  opacity: 1;
}

.containerr .gh {
  background-color: #181818;
  color: white;
}

.containerr .twitter {
  background-color: #55ACEE;
  color: white;
}

.containerr .google {
  background-color: #dd4b39;
  color: white;
}

.containerr input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.containerr input[type=submit]:hover {
  background-color: #45a049;
}

.containerr .column {
  width: 55%;
  margin: auto;
  padding: 0 50px;
  margin-top: 10px;
}

.containerr .fila:after {
  content: "";
  display: table;
  clear: both;
}



.containerr .hide-md-lg {
  display: none;
}

.containerr h2 {
  font-weight: 300;
  font-size: 20px;
}


@media screen and (max-width: 650px) {
  .containerr .column {
    width: 100%;
    margin-top: 0;
  }


  .containerr .hide-md-lg {
    display: block;
    text-align: center;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.main-header,
.main-sidebar,
.main-footer {
  z-index: 90 !important;
}

.mat-dialog-container {
  z-index: 100 !important;
}



.example-large-box {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}


.caracteristica .main {
  height: 100%;
  width: 100%;
  background: #FBFCFC;
  border-radius: 15px;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caracteristica .daily_task, .daily_task2 {
  font-family: 'Sansita Swashed', cursive;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #52BE80;
}

.caracteristica .daily_task{
  font-size: 18px;

}
.caracteristica .daily_task2 {
  font-size: 13px;
  margin-bottom: 10px;

}

.caracteristica #daily_task i {
  font-size: 20px;
  margin-left: 7px;
}

.caracteristica .addtask {
  left: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.caracteristica form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.caracteristica input[type=text] {
  width: 100%;
  height: 70%;
  padding: 2px 0 2px 20px;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  transition: all 0.3s;
  box-shadow: 0.1px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.caracteristica .button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background: linear-gradient(to top, #3498DB, #85C1E9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.caracteristica .button a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.caracteristica input[type=text]:focus {
  transform: translateY(-5px);
  border: none;
  box-shadow: 0.1px 4px 20px 2px rgba(0, 0, 0, 0.3);
}

.caracteristica input[type=text]:focus+.button {
  background: #EC7063;
  top: 40%;
  box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.caracteristica input[type=checkbox] {
  display: none;
}

.caracteristica .list {
  padding: 0;
  margin: 0;
  height: 400px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.caracteristica ::-webkit-scrollbar {
  width: 0.5rem;
}

.caracteristica ::-webkit-scrollbar-track{
  background: transparent;
}

.caracteristica ::-webkit-scrollbar-thumb{
  background: #f0074d;
  border-radius: 5px;

}


.caracteristica li {
  position: relative;
  width: 95%;
  list-style: none;
  padding: 10px 0 10px 20px;
  border-radius: 15px;
  background: rgb(170, 166, 167);
  box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.05);
}

.caracteristica li:not(:first-child) {
  margin-top: 12px;
}

.caracteristica li label {
  margin-left: 50px;
}

.caracteristica li input[type=checkbox]:checked+label {
  text-decoration: line-through;
  color: #ccc;
}

.caracteristica span.check {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.caracteristica li input[type=checkbox]:checked+label span.check::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("https://png.pngtree.com/png-vector/20190303/ourlarge/pngtree-checklist-tick-badge-icon-design-template-vector-png-image_770917.jpg");
  background-position: center;
  background-size: 60px 60px;
  border-radius: 50%;
}

.caracteristica .delete {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.caracteristica .delete::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("https://img.icons8.com/flat_round/64/000000/delete-sign.png");
  background-size: 21px 21px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.caracteristica li input[type=checkbox]:checked~.delete::before {
  opacity: 1;
}
