<div class="row" style=" place-items: center !important;">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <a [routerLink]="['/home/dashboard']" [routerLinkActive]="['active']"
        class="info-box-icon bg-danger elevation-1"><i class="fas fa-heart"></i></a>

      <div class="info-box-content">
        <span class="info-box-text">Mis Proyectos</span>
        <span class="info-box-number">
          10
          <small></small>
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <a  class="info-box-icon bg-success elevation-1"
        data-toggle="modal" data-target="#modal-default">
        <i class="fas fa-plus-circle"></i>
      </a>

      <div class="info-box-content">
        <span class="info-box-text">Agregar</span>
        <span class="info-box-number">Nuevo proyecto</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <a [routerLink]="['/home/inbox']" [routerLinkActive]="['active']" class="info-box-icon bg-success elevation-1"><i
          class="fas fa fa-envelope"></i></a>

      <div class="info-box-content">
        <span class="info-box-text">Badeja</span>
        <span class="info-box-number">de entrada</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- /.col -->
</div>


<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="float: right;" class="modal-title">Crea un nuevo proyecto para evaluar...</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="newProject">
          <div class="form-group">
            <label for="formGroupExampleInput">Ingresa el nombre de tu proyecto</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Ingresa una descripcion sobre tu proyecto</label>
            <input type="textarea" class="form-control" id="formGroupExampleInput2" placeholder="Descripcion" formControlName="descripcion">
          </div>
        </form>
        
        <p style="padding: 30px 5px 5px 5px; color: red; text-align: center; width: 100%;"> Por favor,  asegurate de llenar todos los campos solicitados*</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="submit()" [disabled]="newProject.invalid">Crear</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
