<div class="row" style=" place-items: center !important;" *ngIf="view != 'view'">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <a [routerLink]="['/home/dashboard']" [routerLinkActive]="['active']"
        class="info-box-icon bg-danger elevation-1"><i class="fas fa-heart"></i></a>

      <div class="info-box-content">
        <span class="info-box-number">
          Mis Proyectos
          <small></small>
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <a  class="info-box-icon bg-success elevation-1"
        data-toggle="modal" (click)="openDialog()">
        <i class="fas fa-plus-circle"></i>
      </a>

      <div class="info-box-content">
        <span class="info-box-text">Agregar</span>
        <span class="info-box-number">Nuevo proyecto</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <a [routerLink]="['/home/inbox']" [routerLinkActive]="['active']" class="info-box-icon bg-success elevation-1"><i
          class="fas fa fa-envelope"></i></a>

      <div class="info-box-content">
        <span class="info-box-text">Badeja</span>
        <span class="info-box-number">de entrada</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- /.col -->
</div>

<div class="row" style=" place-items: center !important;" *ngIf="view == 'view'">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <a [routerLink]="['/home/dashboard']" [routerLinkActive]="['active']"
        class="info-box-icon bg-danger elevation-1"><i class="fas fa-arrow-left"></i></a>

      <div class="info-box-content">
        <span class="info-box-number">
          Atras
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <!-- /.col -->

  <!-- /.col -->
</div>


